--------------------------------------------------------------------------
                    /)    |
  .-""--.....__...,-'/    |
 ( ("""`----......--'     |   VM By L'asticot
  `.`._                   |   ------------------------
    `-.`-._               |   {{ motd_message_1 }}
       `.//`-._           |   {{ motd_message_2 }}
         "`--._)          |   {{ motd_message_3 }}
                          |
  Welcome to Debian       |
---------------------------------------------------------------------------
